body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 1px;
    word-spacing: 2px;
    background-color: blanchedalmond;
  }
  
  #conteudo-centralizado {
    text-align: center;
  }
  
  
  h1 {
    color: brown;
    font-weight: bold;
    font-style: italic;
    text-align: center;
  }
  
  
  p {
    color: green;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    text-indent: 20px;
  }
  
  
  video {
    display: block;
    margin: 0 auto;
  }